.tabs{justify-content: center;position: relative; display: flex ;}
.nav-tab {border-bottom: none;}
.nav-tabs {border-bottom: 1px solid #dee2e6;}
.nav {
    display: -ms-flexbox;
    display: flex
;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
dl, ol, ul {
    margin-top: 0;
}

.nav-tabs .nav-item {
    margin-bottom: -1px;
}

.nav-tabs-ms .nav-link.active, .nav-tabs-py .nav-link.active {
    color: #000;
    border-bottom: 2px solid #000;
}

/* CARD */

.card--board:hover .card__body,.card--news:hover .card__body,.card--primary:hover .card__body{background-color:#aaa;color:#0c0c0c}
.card__body {
    color: #0c0c0c;
    padding: 1.5rem;
    transition: .5s !important;
}
.card-deck .card {
    margin-bottom: 15px;
    width: 100%;
}
.card--board {
    margin-bottom: 30px !important;
    transition: .5s !important;
}
.card--board, .card--news, .card--primary {
    color: #0c0c0c;
    background-color: #f7f7f7;
    background: #f7f7f7 !important;
}
.card {
    border: none;
    border-radius: 0;
    margin-bottom: 30px;
}
.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
/*     border: 1px solid rgba(0, 0, 0, .125); */
    border-radius: .25rem;
}
.card-deck {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 0;
}
@media (min-width: 780px) {
    .card-deck {
        -ms-flex-flow: row wrap;
        flex-flow: row wrap;
        margin-right: -15px;
        margin-left: -15px;
        flex-direction: row !important;
        gap: 10px !important;
    }
    .card-deck .card {
        margin-bottom: 15px;
        width: 32% !important;
    }
}
