
.card-deck .card {
    margin-bottom: 15px;
}
.card--board {
    margin-bottom: 30px !important;
}
.card--board, .card--news, .card--primary {
    color: #0c0c0c;
    background-color: #f7f7f7;
}
.card {
    border: none;
    border-radius: 0;
    margin-bottom: 30px;
}
.card {
    position: relative;
    display: -ms-flexbox;
    display: flex
;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
}
@media (min-width: 576px) {
    .card-deck {
        -ms-flex-flow: row wrap;
        flex-flow: row wrap;
        margin-right: -15px;
        margin-left: -15px;
    }
}
.card-deck {
    display: -ms-flexbox;
    display: flex
;
    -ms-flex-direction: column;
    flex-direction: column;
}
