* { margin: 0; padding: 0; box-sizing: border-box; } 
body { font-family: Anuphan, sans-serif; overflow-x: hidden; }

/* สไตล์สำหรับ Header */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  padding: 10px 20px;
    position: fixed;
    width: 100%;
    z-index: 999;
}

.logo img {
  height: 2rem; /* ขนาดปกติ */
}

.menu {
  display: flex;
  list-style: none;
}

.menu li {
    padding-left: 10px;
    padding-right: 10px;
}

.menu li a {
  text-decoration: none;
  color: #000;
  font-size: 16px;
    border-bottom: 2px solid transparent;
    transition: .5s;
}

.menu li a:hover{
  border-bottom: 2px solid #d10000;
  transition: .5s;
}
	
.menu-icon {
  display: none !important;
  font-size: 24px;
  cursor: pointer;
}

/* Responsive Design */
@media (max-width: 780px) {
  .logo img {
    height: 1.5rem; /* ขนาดเมื่อหน้าจอเล็ก */
  }

  .menu {
    display: none;
    flex-direction: column;
    background: #fff;
    position: absolute;
    top: 60px;
    right: 20px;
    width: 200px;
  }

  .menu.show {
    display: block;
    width: 100%;
    top: 47.2px;
    right: 0;
    padding: .5rem;
    z-index: 50;
  }

  .menu li {
    margin: 10px 0;
    text-align: right;
  }

  .menu-icon {
    display: block!important;
  }
}

main h1.first{
	border-left: 10px solid #1700a6;
    padding-left: 10px;
}
p.news{
	font-size: 1.2em;
    margin-block-start: 1em;
    margin-block-end: 1em;
	text-align: justify;
}
main p{
    margin-block-start: 0;
    margin-block-end: 0;
}
main .flex{
    display: flex;
}
.no , .name{
        flex-basis: 0;
        flex-grow: 1;
}
.name p{
    display: flex;
    justify-content: center;
}


main {
    padding: 0 5%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(PATTANA.png) center;
}

.-inner {
    max-width: 50rem;
    padding: 3rem;
    margin: auto;
    transition: all 1s 1s;
    transform: scale(1);
    opacity: 1;
    position: relative;
}

img.w-full.-campaign-logo {
    animation: loh 8s infinite linear reverse;
    position: relative;
    will-change: top;
    aspect-ratio: 680 / 503;
}
@keyframes loh {
  0%,
  5%,
  95%,
  100% {
    top: 0rem;
  }

  50%,
  55% {
    top: -2rem;
  }
}
